.landing-page-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section {
  width: 100%;
}
#start {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: grey;
  padding: 100px;
}
.button-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid grey 1px;
  padding: 10px;
}
.get-started-button {
  background-color: #21ce99;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
#start p {
  display: block;
  width: 25em;
}
