.Header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  z-index: 11;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  box-shadow: 0px 1px 1px #888;
  height: var(--nav-height);
}

.Header h1 {
  margin: 0;
}

.Header a {
  color: #21ce99;
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-button {
  padding: 10px 20px 10px 20px;
}
.nav-button:hover {
  border-bottom: #21ce99 solid 2px;
}
.divider {
  color: grey;
}
